In [30]:
import sqlite3
conn = sqlite3.connect('/home/andreza/code/andrezaumbelino/01-Python/04-SQL-Advanced/data-back_to_school_query/data/school.sqlite')
c = conn.cursor()

In [39]:
def students_from_city(db, city):
    """return a list of students from a specific city"""
    query = """
    SELECT * FROM students
    WHERE birth_city = ?
    """
    db.execute(query,(city,))
    results = db.fetchall()
    return [result[1] for result in results]
print(students_from_city(c,'Paris',))

['Oran', 'Bertha', 'Neha', 'Ignacy', 'Shirley']