In [2]:
import sqlite3
conn = sqlite3.connect('data/ecommerce.sqlite')
c = conn.cursor()

In [3]:
def detailed_orders(db):
    '''return a list of all orders (order_id, customer.contact_name,
    employee.firstname) ordered by order_id'''
    query = """
    SELECT ord.OrderID as order_id,
    cus.ContactName as customer_name,
    emp.FirstName as employee_first_name
    FROM Orders ord
    JOIN Employees emp ON emp.EmployeeID = ord.EmployeeID
    JOIN Customers cus ON cus.CustomerID = ord.CustomerID
    ORDER BY ord.OrderID
    """
    db.execute(query)
    results = db.fetchall()
    return results
print(detailed_orders(c))

[(1, 'Dick Terrcotta', 'James'), (2, 'Barbara Berber', 'Patty'), (3, 'Toni Faucet', 'James'), (4, 'Barbara Berber', 'Lisa'), (5, 'Toni Faucet', 'Patty'), (6, 'Jim Wood', 'Robert'), (7, 'Toni Faucet', 'Robert'), (8, 'Dick Terrcotta', 'Lisa'), (9, 'Barbara Berber', 'James'), (10, 'Jim Wood', 'Patty'), (11, 'Jim Wood', 'Robert'), (12, 'Dick Terrcotta', 'Lisa'), (13, 'Jack Diamond III', 'Robert'), (14, 'Barbara Berber', 'Patty'), (15, 'Toni Faucet', 'Patty'), (16, 'Jim Wood', 'Lisa'), (17, 'Jack Diamond III', 'James'), (18, 'Jim Wood', 'Robert'), (19, 'Barbara Berber', 'Lisa'), (20, 'Jim Wood', 'James')]

In [33]:
def spent_per_customer(db):
    '''return the total amount spent per customer ordered by ascending total
    amount (to 2 decimal places)
    Exemple :
        Jean   |   100
        Marc   |   110
        Simon  |   432
        ...
    '''
    query= """
    SELECT c.CustomerID, c.ContactName,
    ROUND(SUM(od.UnitPrice * od.Quantity),2) AS total
    FROM OrderDetails od
    JOIN Orders o
    ON o.OrderID = od.OrderID
    JOIN Customers c
    ON o.CustomerID = c.CustomerID
    GROUP BY c.ContactName
    ORDER BY total ASC
    """
    c.execute(query)
    results = c.fetchall()
    return results

print(spent_per_customer(c))

[(3, 'Jim Wood', 1597.9), (1, 'Dick Terrcotta', 2021.7), (5, 'Jack Diamond III', 2192.6), (2, 'Barbara Berber', 5156.2), (4, 'Toni Faucet', 8700.1)]

In [29]:
results = [('andreza', 11.59589654), ('vinicius', 2)]
lista = []
for result in results:
    lista.append(result[0])
    lista.append(round(result[1],4))
print(lista)

['andreza', 11.5959, 'vinicius', 2]

In [32]:
def spent_per_customer(db):
    '''return the total amount spent per customer ordered by ascending total
    amount (to 2 decimal places)
    Exemple :
        Jean   |   100
        Marc   |   110
        Simon  |   432
        ...
    '''
    query= """
    SELECT c.ContactName,
    SUM(od.UnitPrice * od.Quantity) AS total
    FROM OrderDetails od
    JOIN Orders o
    ON o.OrderID = od.OrderID
    JOIN Customers c
    ON o.CustomerID = c.CustomerID
    GROUP BY c.ContactName
    """
    c.execute(query)
    results = c.fetchall()
    lista = ()
    for result in results:
            lista.append(result[0])
            lista.append(round(result[1],4))
    return lista

print(spent_per_customer(c))

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
def best_employee(db):
    query = """SELECT e.FirstName, e.LastName,
    ROUND(SUM(od.UnitPrice * od.Quantity),0) AS total
    FROM OrderDetails od
    JOIN Orders o
    ON o.OrderID = od.OrderID
    JOIN Employees e
    ON o.EmployeeID = e.EmployeeID
    GROUP BY o.EmployeeID
    ORDER BY total DESC
    """
    c.execute(query)
    results = c.fetchall()
    return results

print(best_employee(c))

[('Patty', 'Lee', 7946.0), ('James', 'White', 4853.0), ('Lisa', 'Baker', 4208.0), ('Robert', 'Smith', 2663.0)]